.nav-bar {
    width: 100%;
    overflow: hidden;
    padding: 1em 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

  }


.header-button{
    width: 150px;
    margin-left: 10px;
}

