.layout-header{
    width: 100%;
    height: 90px;
    background-color: #000F33;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    z-index: 99;
  }

  .layout-footer{
    width: 100%;
    height: 90px;
    color: #ffffff;
    background-color: #000F33;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .layout-main{
    margin-top: 100px;
  }