.newAdvertPage-form {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 20px;
  max-width: 600px;
  padding: 0 15px;
  width: 100%;
}

.newAdvertPage-title {
  align-items: center;
  display: flex;
  height: 64px;
  justify-content: center;
}

.newAdvertPage-error {
  background-color: rgb(224, 36, 94, 0.1);
  border: 1px solid rgba(224, 36, 94, 0.2);
  border-radius: 5px;
  color: rgb(224, 36, 94);
  margin-top: 20px;
  padding: 10px 15px;
}

.tagsBox{
  background-color: rgb(245, 248, 250);
  border-radius: 2px;
  color: rgb(101, 119, 134);
  display: flex;
  flex-direction: column;
  transition: all 0.2s;
  text-transform: capitalize;
}

.tagsBox span {
  padding: 5px 10px 5px 10px;
}

.tagsBox span:first-letter {
  text-transform: capitalize;
}
