.formField-label {
    background-color: rgb(245, 248, 250);
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-color: rgb(101, 119, 134);
    border-radius: 2px;
    color: rgb(101, 119, 134);
    display: flex;
    flex-direction: column;
    transition: all 0.2s;
  }
  
  .formField-input {
    background-color: transparent;
    font-size: 20px;
    height: 36px;
    outline-style: none;
    padding: 2px 10px 5px 10px;
    width: 100%;
    border: none;
  }
  
  .formField-label span {
    padding: 5px 10px 0 10px;
  }
  
  .formField-label span:first-letter {
    text-transform: capitalize;
  }
  
  .formField--focused .formField-label {
    color: rgb(29, 161, 242);
    border-color: rgb(29, 161, 242);
  }
  