.radioGroup-label {
  background-color: rgb(245, 248, 250);
  border-radius: 2px;
  color: rgb(101, 119, 134);
  display: flex;
  flex-direction: column;
  transition: all 0.2s;
}

.radioGroup-label span {
  padding: 5px 10px 0 10px;
}

.radioGroup-label span:first-letter {
  text-transform: capitalize;
}
