.grid-content-ads{
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: .5rem;
    justify-content: center;
    align-content: center;
}

.grid-item{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    align-self: stretch;
    padding: 0.4em;
	background: #293044;
    color: #ffffff;
    
}

.grid-item .info{
    background-color: #cd2082;
    padding: 0 0.2em;
}

.grid-item .icon{
    width: 100%;
    border: thin solid antiquewhite;
    background-color: #cd2082;
    padding: 0.2em 0.2em;
}

.grid-item .icon:hover{
    background-color:  antiquewhite;
    color: #cd2082;
}


.grid-item img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center center;
    border-radius: 0.5em;
}
