/*RESET*/

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}


img, 
video{
  max-width: 100%;
}

a{
text-decoration: none;
}

header, main, article, section, video, picture{
display: block;
}

p{
margin: 0;
padding: 0;
}

/*RESET*/
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
  padding: 0;
  font-size: 1rem;
}

h1{
  font-size: 2rem;
  text-align: center;
}

a {
  color: #ffffff;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


/* Global errors */
.global-errors {
  padding: 20% 10%;
}

.nofloat{
  clear: both;
}
